
<div class="container" style="margin-bottom:30px">
   <h1 class="text-center">Register Your Account</h1>
 
   <div class="row text-center">
       <form method="Post" action="/Account/Signup">
           <input type="text" class="form-control" name="Name" placeholder="Enter your name" />
           <input type="text" class="form-control" name="email" placeholder="Enter your email" />
           <input type="password" class="form-control" name="passwordhash" placeholder="Enter your password" />

           <button class="btn btn-lg btn-info">Sign Up</button>
       </form>
   </div>

</div>
